<style>

    .icon {
        width: 64px;
        height: 64px;
        display: block;
    }

    .fa-location-dot {
        color: #3F6C12;
    }

    .fa-solid {
        font-size: 64px;
    }

    .fa-cloud-sun {
        color: #3F6C12;
    }

    .fa-temperature-empty {
        color: #3F6C12;
    }

    .fa-wind {
        color: midnightblue;
    }

    .fa-arrows-to-dot {
        color: #3F6C12;
    }

    .fa-arrow-up{
        color: #3F6C12;
        font-size: 40px;
    }

    .fa-arrow-down{
        color: #3F6C12;
        font-size: 40px;
    }

    .custom-rounded {
        border-radius: 4px !important;
    }

    .custom-gap {
        gap: 10px;
    }

    .custom-icon-gap {
        gap: 30px;
    }
</style>

#{if _station.measures.size() > 0}

<table class="table is-bordered is-fullwidth">
    <thead>
    <tr>
        <th>Date/Time</th>
        <th>Code</th>
        <th>Temperature</th>
        <th>Wind Speed</th>
        <th>Wind Direction</th>
        <th>Pressure</th>
    </tr>
    </thead>
    <tbody>
    #{list items:_station.measures, as:'measure'}
    <tr>
        <td>${measure.time}</td>
        <td>${measure.code}</td>
        <td>${measure.temp}</td>
        <td>${measure.windSpeed}</td>
        <td>${measure.windDirection}</td>
        <td>${measure.pressure}</td>
        <td><a href="/stations/${_station.id}/deletemeasure/${measure.id}"><span class="icon has-text-danger">
  <i class="fas fa-trash"></i>
</span></a></td>
    </tr>
    #{/list}
    </tbody>
</table>

#{/if} #{else}
<p>No measures available</p>
#{/else}
