.icon {
    width: 64px;
    height: 64px;
}

.fa-solid {
    font-size: 64px;
}

.fa-location-dot {
    color: #7209B7;
}

.fa-cloud-sun {
    color: #D72638;
}

.fa-temperature-empty {
    color: #3F88C5;
}

.fa-wind {
    color: #A7C133;
}

.fa-arrows-to-dot {
    color: #F49D37;
}

.fa-arrow-up {
    color: #3F6C12;
    font-size: 40px;
}

.fa-arrow-down {
    color: #3F6C12;
    font-size: 40px;
}

.custom-rounded {
    border-radius: 4px !important;
}

.custom-gap {
    gap: 10px;
}

.custom-icon-gap {
    gap: 30px;
}