#{extends 'main.html' /}
#{set title:'Welcome' /}

#{welcomemenu id:"start" /}

<div class="content box">
    <h1 class="title">
        Welcome to Weather Top
    </h1>
    <figure class="image is-128x128">
        <img class="has-ratio" src="/public/images/weather-instrument.jpg" alt="Weather Instrument"
             style="max-width: 100%; max-height: 100%;">
    </figure>


    <p>
        A small app to let you record your measures. This app will allow you to create, manage and share your measures
        for each station. Simply enter the station details on the dashboard.
    </p>
</div>
